<div>
  <a href="{{ gerrit_config.canonicalWebUrl }}">
    <h1 style="color: #008fd5">
      <img alt="{{ gerrit_site_logo_alt }}" src="/static/logo.cache.png" class="logo" style="vertical-align:middle;" />
        {{ gerrit_site_header }}
    </h1>
  </a>
</div>
